.productCard{
    border: 3px solid #aaa;
    border-radius: 5px;
    min-width: 20em;
    max-width: 40em;
    padding: 1em;
    margin: 1em;
}

.productCard:hover{
    transform: scale(1.03);
    cursor: pointer;
}


.productCardImage{
    min-width: 150px;
    max-width: 100%;
}