.mainStore{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productsWrapper{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: first baseline;
    align-items: stretch;
}